@model IEnumerable<RestaurantRater.Models.Kourse>

@{

    ViewBag.Title = "Index";

    string message = "MK Kourse Rater";
}


<h1 class="text-center">@message.ToUpper()</h1>

<h2>List of Kourses</h2>


@*<a href="/Kourse/Create">Rate A Course</a>*@

<p>
    @Html.ActionLink("Rate a Kourse", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.Cup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>
    @foreach(var kourse in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => kourse.Name)
            </td>
            <td>
                @Html.DisplayFor(i => kourse.Cup)
            </td>
            <td>
                @Html.DisplayFor(i => kourse.Rating)
            </td>
            <td>
                @Html.ActionLink("Modify", "Edit", new {id = kourse.KourseId }) |
                @Html.ActionLink("More Info", "Details", new {id = kourse.KourseId }) |
                @Html.ActionLink("Remove", "Delete", new {id = kourse.KourseId }) 
            </td>
        </tr>
    }

</table>

@*@foreach (var kourse in Model)
    {
        <h2 class="text-center">@kourse.Name</h2>
    }*@






